@page "/Payment/Plans/{Id}/external-plans"

@using Volo.Payment.Admin.Web.Pages.Payment.Plans.GatewayPlans
@using Volo.Payment.Admin.Web.Pages
@using Volo.Payment.Admin.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageSearchBox

@model IndexModel

@inherits PaymentAdminPageBase

@{
    PageLayout.Content.Title = L["GatewayPlans"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:PaymentManagement"].Value);
    PageLayout.Content.BreadCrumb.Add(L["Menu:Plans"].Value);   
    PageLayout.Content.BreadCrumb.Add(Model.Plan.Name);
    PageLayout.Content.MenuItemName = PaymentAdminMenus.Plans.PlansMenu;
}

@section scripts {
<abp-script-bundle>
    <abp-script src="/Pages/Payment/Plans/GatewayPlans/index.js" />
</abp-script-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}

<abp-card class="mb-4">
    <abp-card-body>
        <div id="GatewayPlansSearchWrapper">
            <abp-row>
                <abp-column>
                    @await Component.InvokeAsync(typeof(AbpPageSearchBoxViewComponent))
                </abp-column>
            </abp-row>
        </div>
    </abp-card-body>
</abp-card>

<div id="GatewayPlansWrapper" data-plan-id="@Model.Id">
    <abp-card>
        <abp-card-body>
            <abp-table striped-rows="true" id="GatewayPlansTable" class="nowrap"></abp-table>
        </abp-card-body>
    </abp-card>
</div>