@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CORE.MVC.SQLServer.Localization
@using CORE.MVC.SQLServer.Web.Pages.Xamples
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using CORE.MVC.SQLServer.Xamples;
@using System.Globalization
@inject IHtmlLocalizer<SQLServerResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Xamples/EditModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id" />
            
            <abp-input asp-for="Xample.Name"/>

            <abp-input asp-for="Xample.Date1" value="@(Model.Xample.Date1?.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-input asp-for="Xample.Year"/>

            <abp-input asp-for="Xample.Code"/>

            <abp-input asp-for="Xample.Email"/>

            <abp-input asp-for="Xample.IsConfirm"/>

            <abp-input asp-for="Xample.UserId"/>

            
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>